*{
    margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Bebas Neue', cursive;
	background-color: #83a9ba;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* LANDING PAGE */

.landing {
    background-color: #83a9ba;
    color: #fff;
    margin: 20px;
}

btn a {
    font-size: 36px;
    color: #43535a;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 0 0.4;
    padding: 20px 80px;
    text-decoration: none;
    border: 2px solid #fff;
    margin: 20px;
}
a:hover{
    background-color: #43535a;
    border: 2px solid #fff;
    color: #fff;
    transition: ease-out 0.4s;
}

h1 {
    color: #43535a;
    font-size: 120px;
    text-align: center;
}

h2 {
    color: #fff;
    font-size: 120px;
    text-align: center;
}

main div p{
    font-size: 72px;
    margin-top: 50px;
}

.footer {
    color: #fff;
    font-size: 36px;
    margin-top: 200px;
    text-align: center;
   
}

/* HOME PAGE */

.agregarProducto {
    width: 100%;
    height: 700px;
    background-color: #fff;
    color: #282828;
    border-radius: 30px;
    box-shadow: 0 0 0 0.4;
    margin: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.buscarProducto {
    width: 600px;
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 0 0.4;
    margin: 40px;
    padding: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 40px;
    justify-content: center;
}

.grid2 {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 20px;
    justify-content: center;
}

.title {
    font-size: 48px;
    color: #282828;

}

.ingresoStock {
    background-color:#282828;
    border-radius: 20px;
    padding: 10px;
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px;
    width: 200px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 20px;
    border: 0;
    box-shadow: inset 0 0 0 0 #83a9ba;
    transition: ease-out 0.3s;
    outline: none;
}

.ingresoStock:hover {
    cursor: pointer;
    box-shadow: inset 300px 0 0 0 #83a9ba;
    color: #282828;
}

.salidaStock {
    background-color:#282828;
    border-radius: 20px;
    padding: 10px;
    font-size: 28px;
    color: #fff;
    margin-bottom: 10px;
    width: 200px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 20px;
    border: 0;
    box-shadow: inset 0 0 0 0 #83a9ba;
    transition: ease-out 0.3s;
    outline: none;
}

.salidaStock:hover {
    cursor: pointer;
    box-shadow: inset 300px 0 0 0 #83a9ba;
    color: #282828;
}

.box {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 1;
    border-color: black;
    font-size: 28px;
    font-family: 'Bebas Neue', cursive;
}

.tituloTabla { 
    font-size: 28px;
    color: #83a9ba;
    font-weight: lighter;
    padding-right: 50px;

}

.tituloTabla2 { 
    font-size: 22px;
    color: #000;
    font-weight: lighter;
    padding-right: 130px;
}

.sumBar{
    width: 100%;
    display: grid;
    grid-row: 100%;
    justify-content: end;
}

.btnmostrar {
    background-color: #83a9ba;
    border-radius: 20px;
    padding: 10px;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
    width: 320px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 20px;
    border: 0;
    cursor: pointer;
}

.btnmostrar:hover {
    background-color: #282828;
    color: #fff;
    transition: ease-out 0.2s;

}

.btnBuscar {
    background-color: #282828;
    border-radius: 20px;
    padding: 10px;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
    width: 150px;
    font-family: 'Bebas Neue', cursive;
    border: 0;
    cursor: pointer;
}

.btnBuscar:hover {
    background-color: #83a9ba;
    color: #fff;
    transition: ease-out 0.2s;

}